<form action="/styles/<%= @style.id %>" method="post">
  <input type="hidden" name="_method" value="put">


  <input type="text" name = "hairdressername" placeholder="enter hairdresser name" value="<%= ??? %>">

  <input type="text" name = "hairpicfront" placeholder="enter pic front" value="<%= @style.image_url %>">

  <input type="text" name = "hairpicback" placeholder="enter pic back" value="<%= @style.image_url %>">

  <input type="text" name = "hairpicside" placeholder="enter pic" value="<%= @style.image_url %>">

  <input type="text" name = "price" placeholder = "enter price" value="<%= ??? %>">

  <input type="text" name = "rating" placeholder = "rate experience 1 - 5" value="<%= ??? .url %>">

  <input type="text" name = "tag" placeholder = "tags: MEN: undercut / fade / sidepart / short back and sides // FEM: cut / colour / styling " value="<%= ??? %>">

  <input type="text" name = "studioname" placeholder="enter studio name" size="50" id="pac-input" class="controls" value="<%= ??? .url %>">

  <input type="text" name = "studiowebsiteurl" placeholder="enter website" value="<%= ??? .url %>">

  <button>Update</button>

</form>

<form action="/styles/<%= @style.id %>" method="post">

  <input type="hidden" name="_method" value="delete">
  <button>Delete post</button>

</form>
