
<div class = "video_banner">

  <div id = "video_holder">

    <%= video_tag "slowhair.mp4", controls: false, autoplay: true, muted: true, loop: true, id: "bgvid" %>

    <!-- keep old version here until we are sure we are happy with the above one
    <video playsinline autoplay muted loop id="bgvid">
      <source src="video/slowhair.mp4" type="video/mp4">
    </video> -->

  </div>
  <div class = "filter">
    <ul>
      <a href="/styles/tag/undercut"><li class="tags"><%=image_tag("undercut.png")%><p>Undercut</p></li></a>
      <a href="/styles/tag/fade"><li class="tags"><%=image_tag("fade.png")%><p>Fade</p></li></a>
      <a href="/styles/tag/shortbacksides"><li class="tags"><%=image_tag("short-back-sides.png")%><p>Short Back Sides</p></li></a>
      <a href="/styles/tag/sidepart"><li class="tags"><%=image_tag("side-part.png")%><p>Side Part</p></li></a>
      <a href="/styles/tag/haircut"><li class="tags"><%=image_tag("haircut.png")%><p>Haircut</p></li></a>
      <a href="/styles/tag/hairstyling"><li class="tags"><%=image_tag("hairstyling.png")%><p>Hairstyling</p></li></a>
      <a href="/styles/tag/haircolor"><li class="tags"><%=image_tag("hair-color.png")%><p>Hair Colour</p></li></a>
      <a href="/styles/tag/other"><li class="tags"><%=image_tag("other.png")%><p>Other</p></li></a>
    </ul>

</div>

<div class="listing_holder">

  <% @styles.each do |style| %>
    <div class="listing" data-id="<%= style.id %>">
      <div class="image">
        <a href="/styles/<%=style.id%>">
          <img src="<%= style.hairpicfront %>" alt="">
        </a>
      </div>
      <div class="centered content">
        <% if style.likes.count == 1 %>
          <span class="like-count"><%= style.likes.count %> Like</span>
        <% end %>
        <% if (style.likes.count == 0) || (style.likes.count > 1) %>
          <span class="like-count"><%= style.likes.count %> Likes</span>
        <% end %>
        <span class="star right js-like">	&#10084;</span>
      </div>
    </div>
  <% end %>

</div>
