
<div class = "wrapper">

  <div class = "header">
    <div class = "nav_bar">
      <!-- <ul>
        <li>Sign-up</li>
        <li>Login</li>
      </ul> -->

    <div class = "brand_name"></div>
      <h1>The Hair Project</h1>
    </div>


    <!-- <div id = "video_holder">

    <video playsinline autoplay muted loop id="bgvid">
        <source src="app/assets/video/slowhair.mp4" type="video/mp4">
      </video>

  </div> -->


    <div class = "filter">
      <h3>Styles</h3>
    </div>
  </div>


  <div class="listing">
    <% @styles.each do |style| %>
        <div class="ui-style" data-id="<%= style.id %>">
          <div class="centered content">
            <%= style.user.name %>
          </div>


          <div class="image">
            <a href="/styles/<%=style.id%>">
              <img src="<%= style.hairpicfront %>" alt=""></a>
          </div>
          <div class="centered content">
            <span class="like-count"><%= style.likes.count %> Likes</span>
            <span class="star right js-like">Like &#9733;</span>
          </div>
        </div>
    <% end %>

    </div>
  </div>



</div>
