
<div class = "video_banner">
  <div id = "video_holder">
    <%= video_tag "slowhair.mp4", controls: false, autoplay: true, muted: true, loop: true, id: "bgvid" %>
  </div>
  <input class = "new-st-input" type="hidden" name = "tag" id="tags-input">
  <a id='tagScroll' name='tagScroll'></a>
  <div id="mainTagFilter" class = "filter" data-id="<%= @selectedTag %>">
    <ul id="newStyleUl">
      <li data-id="/styles/tag/undercut/" class="tags"><%=image_tag("undercut.png")%><p>Undercut</p></li>
      <li data-id="/styles/tag/fade/" class="tags"><%=image_tag("fade.png")%><p>Fade</p></li>
      <li data-id="/styles/tag/shortbacksides/" class="tags"><%=image_tag("short-back-sides.png")%><p>Short Back Sides</p></li>
      <li data-id="/styles/tag/sidepart/" class="tags"><%=image_tag("side-part.png")%><p>Side Part</p></li>
      <li data-id="/styles/tag/haircut/" class="tags"><%=image_tag("haircut.png")%><p>Haircut</p></li>
      <li data-id="/styles/tag/hairstyling/" class="tags"><%=image_tag("hairstyling.png")%><p>Hairstyling</p></li>
      <li data-id="/styles/tag/haircolor/" class="tags"><%=image_tag("hair-color.png")%><p>Hair Colour</p></li>
      <li data-id="/styles/tag/other/" class="tags"><%=image_tag("other.png")%><p>Other</p></li>
    </ul>
  </div>
<div class="listing_holder">
  <% @top_styles.each do |style| %>
    <div class="listing" data-id="<%= style.id %>">
      <div class="image">
        <a href="/styles/<%=style.id%>">
          <img src="<%= style.hairpicfront %>" alt="">
        </a>
      </div>
      <div class="centered content">
        <% if style.likes_count == 1 %>
          <span class="like-count"><%= style.likes_count %> Like</span>
        <% end %>
        <% if (style.likes_count == 0) || (style.likes_count > 1) %>
          <span class="like-count"><%= style.likes_count %> Likes</span>
        <% end %>
        <span class="star right js-like">&hearts;</span>
      </div>
    </div>
  <% end %>
</div>
