
<div class = "show_container">

  <div class="left_container">

    <div class="pic1">
      <img src="<%=@style.hairpicfront%>" alt="">
    </div>

    <div class="pic2">
      <img src="<%=@style.hairpicback%>" alt="">
    </div>

    <!-- <div class="pic3">
      <img src="<%=@style.hairpicside%>" alt="">
    </div> -->
  </div>

  <div class="right_container">
    <div class="table">
      <ul>
        <li><%=@style.hairdressername%></li>
        <li><%=@style.price%></li>
        <li><%=@style.rating%></li>
        <li><%=@style.tag%></li>
        <li><%=@style.studiowebsiteurl%></li>
        <li><%=@style.studioname%></li>
      </ul>
    </div>



    <div class="distanceMap">

        <div id="floating-panel">
          <b>Mode of Travel: </b>
          <select id="mode">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
          </select>
        </div>

        <div id="mapDis"></div>

    </div>


      <div id = "salonLocation" style= "height: 200px">

          <h4>Coordinates: </h4>
           <h4 id = "map-lat" ></h4>
          <h4 id = "map-lng" ></h4>
          <div id="map"></div>
          <!-- <br>
          <img class = "map" src="https://maps.googleapis.com/maps/api/staticmap?center=Melbourne&zoom=12&size=250x250&style=feature:road.local|element:labels|color:0xffffff">
          <img class = "map" src="https://www.google.com/maps/embed/v1/directions&&origin=Oslo+Norway&destination=Telemark+Norway&avoid=tolls|highways"> -->

      </div>


      <a href="/styles/<%=@style.id%>/edit">Edit</a>


    <form action="/styles/<%= @style.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Delete post</button>
    </form>

  </div>

  <% @style.comments.each do |comment| %>
      <div class="commentsSection">
          <div class="commentsContainer">
            <div class="commentsheader"><%= comment.user.name %>
              <% if comment.user.id == current_user.id %>
                <form action="/comments/<%= comment['id'] %>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <input type="hidden" name="style_id" value="<%=@style.id%>">
                  <button>Delete</button>
                </form>
              <% end %>

              <span class="userName">
                  <%= comment.created_at.to_formatted_s(:long_ordinal)  %>
              </span>
            </div>
            <div id="commentText"><%= comment.text %></div>
            <div style="clear: both;"></div>
          </div>
      </div>
  <% end %>

    <div class="newCommentContainer">
      <form id="newCommentsForm" action="/comments" method="post">
        <input type="hidden" name="style_id" value="<%= @style['id'] %>">
        <input type="text" name="newCommentText" id="newCommentText" placeholder="Write a comment..">
        <button>Submit</button>
      </form>
    </div>

    <div style="clear: both;"></div>
  </div>

</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-_tjRXvZwDBMsFKx2He46Jv3MBw-_oT0&libraries=places&callback=disMap"
        async defer></script>
