
<div class = "show_container">

  <div class="left_container">

    <div class="pic1">
      <img src="<%=@style.hairpicfront%>" alt="">
    </div>

    <div class="pic2">
      <img src="<%=@style.hairpicback%>" alt="">
    </div>

    <div class="pic3">
      <img src="<%=@style.hairpicside%>" alt="">
    </div>
  </div>

  <div class="right_container">
    <div class="table">
      <ul>
        <li><%=@style.hairdressername%></li>
        <li><%=@style.price%></li>
        <li><%=@style.rating%></li>
        <li><%=@style.tag%></li>
        <li><%=@style.studiowebsiteurl%></li>
        <li><%=@style.studioname%></li>
      </ul>
    </div>


  <a href="/styles/edit">Edit</a>


    <div class="map">

    </div>

  </div>

</div>
