

<div class = "show_container">

  <div class="left_container">
    <div id="thumbnail-slider">
        <div class="inner">
            <ul>
                <li>
                    <a class="thumb" href="<%=@style.hairpicfront%>"></a>
                </li>
                <li>
                    <a class="thumb" href="<%=@style.hairpicside%>"></a>
                </li>
                <li>
                    <a class="thumb" href="<%=@style.hairpicback%>"></a>
                </li>
            </ul>
        </div>
    </div>
  </div>

  <div class="right_container">
    <div class="table">
      <ul>
        <li><%=@style.hairdressername%></li>
        <li><%=@style.price%></li>
        <li><%=@style.rating%></li>
        <li><%=@style.tag%></li>
        <li><%=@style.studiowebsiteurl%></li>
        <li><%=@style.studioname%></li>
          <div id = "salonLocation">
            <li>Coordinates: </li>
            <li id = "map-lat" ><%= @style.lat %></li>
            <li id = "map-lng" ><%= @style.lng %></li>
          </div>
      </ul>
    </div>

    <div class="distanceMap">

        <div id="floating-panel">
          <b>Mode of Travel: </b>
          <select id="mode">
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
          </select>
        </div>

        <div id="mapDis"></div>

    </div>



    <% if (current_user != nil) && (@style.user.id == current_user.id) %>
      <a href="/styles/<%=@style.id%>/edit">Edit</a>


      <form action="/styles/<%= @style.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Delete post</button>
      </form>

    <% end %>

  </div>

    <% @style.comments.each do |comment| %>
        <div class="commentsSection">
            <div class="commentsContainer">
              <div class="commentsheader"><%= comment.user.name %>
                <% if (current_user != nil) && (comment.user.id == current_user.id) %>
                  <form action="/comments/<%= comment['id'] %>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="style_id" value="<%=@style.id%>">
                    <button>Delete</button>
                  </form>
                <% end %>

                <span class="userName">
                    <%= comment.created_at.to_formatted_s(:long_ordinal)  %>
                </span>
              </div>
              <div id="commentText"><%= comment.text %></div>
              <div style="clear: both;"></div>
            </div>
        </div>
    <% end %>

    <% if current_user != nil %>
      <div class="newCommentContainer">
        <form id="newCommentsForm" action="/comments" method="post">
          <input type="hidden" name="style_id" value="<%= @style['id'] %>">
          <input type="text" name="newCommentText" id="newCommentText" placeholder="Write a comment..">
          <button>Submit</button>
        </form>
      </div>
    <% end %>

    <div style="clear: both;"></div>
  </div>

</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-_tjRXvZwDBMsFKx2He46Jv3MBw-_oT0&libraries=places&callback=disMap"
        async defer></script>
