
<div class = "wrapper">
  <div class="listing">
    <% @styles.each do |style| %>
        <div class="ui-style" data-id="<%= style.id %>">
          <div class="centered content">
            <%= style.user.name %>
          </div>
          <div class="image">
            <a href="/styles/<%=style.id%>">
              <img src="<%= style.hairpicfront %>" alt=""></a>
          </div>
          <div class="centered content">
            <span class="like-count"><%= style.likes.count %> Likes</span>
            <span class="star right js-like">	&#10084;</span>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
