<!DOCTYPE html>
<html>
  <head>
    <title>THP</title>
    <link rel="shortcut icon" source="favicon.ico" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <header>

      <div class = "main-nav_bar">

        <ul>

            <% if logged_in? %>

                <div id="currentLginDiv">
                  <li><span id="loggedinHeader">Hi there <%= current_user.name %> </span></li>
                  <li><a href="/styles/new">add new style</a></li>
                  <li><a href="/styles/album">my album</a></li>
                  <li><a href="/styles/favourites">my favourites</a></li>

                  <form action="/session" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <li><button>Logout</button></li>
                  </form>
                </div>

            <% else %>

                <div id="currentlyLoggedOutDiv">
                  <form action="/session" method="post">
                  <li><input type="text" name="email" placeholder="enter email"></li>
                  <li><input type="password" name="password" placeholder="enter password"></li>

                  <button>Login</button>
                  <li><a id="signupLink" href="/users/new">Sign up</a></li>
                  </form>
                </div>

            <% end %>


          <div class="main-page-logo">
            <li><a href="/styles">home</a></li>
            <li><h1>The Hair Project</h1></li>
          </div>

        </ul>


    </div>


    </header>




    <%= yield %>

    <div class = "footer">
      <footer> The Hair Projekt | Magdalena Bialon | Dean Cooper | Denis The Menace | Melbourne &copy; 2016</footer>
    </div>

  </body>
</html>
