<!DOCTYPE html>
<html>
  <head>
    <title>Thehairproject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <header>

      <div class = "nav_bar">

        <% if logged_in? %>
          <div id="currentlyLoggedInDiv">
            <span id="loggedinHeader">Hi there <%= current_user.name %> </span>

            <form action="/session" method="post">
              <input type="hidden" name="_method" value="delete">
              <button>Logout</button>
            </form>
          </div>

        <% else %>
          <div id="currentlyLoggedOutDiv">
            <form action="/session" method="post">
            <input type="text" name="email" placeholder="enter email">
            <input type="password" name="password" placeholder="enter password">

            <button>Login</button>
            <a id="signupLink" href="/users/new">Sign up</a>
            </form>
          </div>
        <% end %>


        <h1>The Hair Project</h1>

      </div>


    </header>




    <%= yield %>

    <div class = "footer">
      <footer> The Hair Projekt | Magdalena Bialon | Dean Cooper| Denis The Menace| Melbourne &copy; 2016</footer>
    </div>

  </body>
</html>
