<!DOCTYPE html>
<html>
  <head>
    <title>The Hair Projekt</title>
    <meta name="description" content="The Hair Projekt" />
    <link rel="shortcut icon" source="favicon.ico" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Lobster|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  </head>

  <body>

    <div class="wrapper">

      <header>
        <div class = "nav_bar">
          <div class="logo">
            <a href="/styles"><h1>The Hair Projekt</h1></a>
          </div>
          <div class="login_bar">
            <div class="nav-top">

              <% if logged_in? %>
                <div id="currentlyLoggedInDiv">
                  <span id="loggedinHeader">Hi there <%= current_user.name %> </span>
                </div>
                <form action="/session" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <button id = "logout">Logout</button>
                </form>
              <% end %>

              <% if !logged_in? %>
              <form action="/session" method="post">
                <input id = "login_email" type="text" name="email" placeholder="enter email">
                <input id = "login_password" type="password" name="password" placeholder="enter password">
                <button id = "login">Login</button>
                <button><a id="signupLink" href="/users/new">Sign Up</a></button>
              </form>
              <% end %>

            </div>
            <!-- <hr> -->
            <div class="nav-bottom">
              <ul>
                <a href="/styles"><li class="bottom-line">home</li></a>
                <% if logged_in? %>
                  <a href="/styles/new"><li class="bottom-line">new post</li></a>
                  <a href="/styles/album"><li class="bottom-line">my album</li></a>
                  <a href="/styles/favourites"><li class="bottom-line">my favourites</li></a>
                <% end %>
              </ul>
            </div>

          </div>
        </div>
      </header>

      <%= yield %>

      <div class = "footer">
        <p id = "footer" >TheHairProjekt |<span> Magdalena Bialon : Dean Cooper : Denis Ng | Melbourne &copy; 2016</span></p>
      </div>

    </div>

  </body>
</html>
